body {
    background-image:url(img/4520105.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: auto; 
}
h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 6rem !important;
    text-align: center;
    margin-top: 0;
}
h2 {
    font-family: 'Rouge Script', cursive;
    font-size: 2.5rem !important;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    margin: 0.25rem !important;

}

.text1 {
    font-size: 1.5rem;
}
.modi {
    font-size: 1rem;
}
#ee {
    font-family: 'Rouge Script', cursive;
    font-size: 2rem;
    font-weight: bold;
}
.icon {
    width: 60px;
}
.texto {
    font-family: 'Rouge Script', cursive;
    font-size: 2rem;
}
.nav-link:hover {
    font-family: 'Rouge Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar a {
    color: black;
}
.navbar-toggler {
    color: black;
}
.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    color: black !important;
}
.general:last-of-type {
    margin-bottom: 50px;
}

#banco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 
#banco p {
    font-size: 1rem;
}

.ubi {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
.iconosDressCode {
    display: flex;
    flex-direction: row;
}
.wp {
    width: 30px;
    margin-bottom: 0;

}
.nombreWp {
    text-decoration: none;
    color: black;
}
.nombreWp:hover {
    color: red;
}

.cont-temporizador{
    display: flex;
    justify-content: center;   
    margin-top: 50px;

}
  
.cont-temporizador .bloque{
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cont-temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
  
.cont-temporizador .bloque p{
    font-size: 1rem;
    font-weight: bold;
    color:black;
}

@media (min-width: 800px) {
    #carousel {
        width: 600px;
    }
}
