body {
    background-image:url(img/4520105.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


}
h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 6rem !important;
    text-align: center;
    margin-top: 0;
}
h2 {
    font-family: 'Rouge Script', cursive;
    font-size: 2.5rem !important;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    margin: 0.5rem !important;

}
.text1 {
    font-size: 1.5rem;
}
.modi {
    font-size: 1rem;
}
#ee {
    font-family: 'Rouge Script', cursive;
    font-size: 2rem;
    font-weight: bold;
}
.icon {
    width: 60px;
}
.texto {
    font-family: 'Rouge Script', cursive;
    font-size: 2rem;
}
.nav-link:hover {
    font-family: 'Rouge Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 40px;
}
.general:last-of-type {
    margin-bottom: 50px;
}

.banco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  



.ubi {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
.wp {
    width: 30px;
    margin-bottom: 0;
}
@media (min-width: 800px) {
    #carousel {
        width: 600px;
    }
}
